<div class="banner">
  <div class="l-constrained">
    <h1 class="banner__heading">Regulated financial advice protects you under consumer law.</h1>
    <p class="banner__tagline">An authorised retirement advisor can help you make the right financial decisions</p>

    <%= render 'shared/play_button.html.erb' %>

    <ul class="banner__list">
      <li class="banner__item">Get protected under consumer law</li>
      <li class="banner__item">Find advisors matched to your needs</li>
      <li class="banner__item">Access all products in the market</li>
    </ul>
  </div>
</div>

<div class="l-constrained">
  <a class="filter-button">
    <h2 class="filter-button__heading">Browse advisors who match your specific needs</h2>
    <p class="filter-button__tagline">Your details are strictly confidential and will not be shared</p>
    <%= render 'shared/down_arrow' %>
  </a>

  <hr class="horizontal-rule">

  <h2 class="l-info-page__heading">Why get an authorised advisor</h2>

  <%= render 'shared/info_block' %>
  <%= render 'shared/info_block' %>
  <%= render 'shared/info_block' %>

  <div class="l-info-page__filter">
  <a class="filter-button" data-target=".secondary-filter">
    <h2 class="filter-button__heading">Browse advisors who match your specific needs</h2>
    <p class="filter-button__tagline">Your details are strictly confidential and will not be shared</p>
    <%= render 'shared/down_arrow' %>
  </a>

    <%= render 'shared/secondary_filter' %>
  </div>
</div>
